.brand {
  margin: 0 25px;
  padding: 70px 0;
  .brand-inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    .brand-title {
      position: relative;
      display: block;
      font-family: "Binggrae-Bold", sans-serif;
      font-weight: 700;
      font-size: 38px;
      color: #000;
      text-align: center;
      line-height: 1.45;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .brand-cate {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 1em;
      .brand-slide-prev {
        position: relative;
        display: block;
        background: transparent;
        border: 0;
        span {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 15px;
          background: url("../images/prev_arrow.png") no-repeat;
          background-size: contain;
          font-size: 0;
          cursor: pointer;
        }
      }
      .brand-slide {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 1550px;
        display: flex;
        justify-content: space-between;
        gap: 2%;
        li {
          position: relative;
          display: block;
          width: 240px;
          height: 250px;
          border: 1px solid #edecef;
          border-radius: 30px;
          transition: transform 1s;
          .brand-slide-img {
            display: block;
            width: 100%;
            height: 100%;
          }
          &:nth-child(1) {
            .brand-slide-img {
              background: url("../images/sec02_logo01.png") no-repeat center /55%;
            }
            .brand-hover-img {
              display: block;
              width: 240px;
              height: 40px;
              background: url("../images/sec02_logo01.png") no-repeat;
              background-size: contain;
              background-position: center;
            }
          }
          &:nth-child(2) {
            .brand-slide-img {
              background: url("../images/sec02_logo02.png") no-repeat center /55%;
            }
            .brand-hover-img {
              display: block;
              width: 240px;
              height: 40px;
              background: url("../images/sec02_logo02.png") no-repeat;
              background-size: contain;
              background-position: center;
            }
          }
          &:nth-child(3) {
            .brand-slide-img {
              background: url("../images/sec02_logo03.png") no-repeat center /55%;
            }
            .brand-hover-img {
              display: block;
              width: 240px;
              height: 40px;
              background: url("../images/sec02_logo03.png") no-repeat;
              background-size: contain;
              background-position: center;
            }
          }
          &:nth-child(4) {
            .brand-slide-img {
              background: url("../images/sec02_logo04.png") no-repeat center /55%;
            }
            .brand-hover-img {
              display: block;
              width: 240px;
              height: 40px;
              background: url("../images/sec02_logo04.png") no-repeat;
              background-size: contain;
              background-position: center;
            }
          }
          &:nth-child(5) {
            .brand-slide-img {
              background: url("../images/sec02_logo05.png") no-repeat center /55%;
            }
            .brand-hover-img {
              display: block;
              width: 240px;
              height: 40px;
              background: url("../images/sec02_logo05.png") no-repeat;
              background-size: contain;
              background-position: center;
            }
          }
          &:nth-child(6) {
            .brand-slide-img {
              background: url("../images/sec02_logo06.png") no-repeat center /55%;
            }
            .brand-hover-img {
              display: block;
              width: 240px;
              height: 40px;
              background: url("../images/sec02_logo06.png") no-repeat;
              background-size: contain;
              background-position: center;
            }
          }
          .brand-hover-box {
            position: absolute;
            left: 50%;
            bottom: -170%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 240px;
            height: 250px;
            // box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
            border-radius: 30px;
            visibility: hidden;
            .brand-hover-box1 {
              display: block;
              transform: translateY(30%);
              transition: transform 700ms;
              .brand-hover-txt::before {
                content: "";
                display: block;
                width: 20px;
                height: 1px;
                background: rgba(0, 0, 0, 0.2);
                margin: 18px auto;
              }
              .brand-hover-txt {
                display: block;
                height: 105px;
                line-height: 1.38;
                letter-spacing: -0.09em;
                text-align: center;
              }
            }
            .brand-hover-button {
              position: absolute;
              left: 50%;
              bottom: 10px;
              transform: translateX(-50%);
              width: 90%;
              height: 45px;
              background: #ed1c24;
              color: #fff;
              font-size: 14px;
              letter-spacing: -0.09em;
              border: 0;
              border-radius: 30px;
              cursor: pointer;
            }
          }
        }
      }
      .brand-slide-next {
        position: relative;
        display: block;
        background: transparent;
        border: 0;
        span {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 15px;
          background: url("../images/next_arrow.png") no-repeat;
          font-size: 0;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (min-width: 1455px) {
  .brand {
    .brand-inner {
      .brand-cate {
        .brand-slide {
          li:hover {
            border: none;
            box-shadow: 0px 5px 24.3px 2.7px rgb(0 0 0 / 9%);
            transform: translateY(-10px);
            .brand-slide-img {
              display: none;
            }
            .brand-hover-box {
              left: 50%;
              top: 50%;
              transform: translate(-50% -50%);
              visibility: visible;
              .brand-hover-box1 {
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .brand-slide {
    li:hover {
      transform: translateY(-10px);
    }
  }
}
@media screen and (max-width: 768px) {
  .brand-slide-prev,
  .brand-slide-next {
    display: none !important;
  }
  .brand-slide {
    flex-wrap: wrap;
    li {
      height: 200px !important;
      flex-basis: 30%;
      // flex-shrink: 30%;
      cursor: pointer;
    }
  }
}
