.menu {
  position: relative;
  .inner {
    .menu-title {
      position: relative;
      display: block;
      height: 32px;
      text-align: center;
      margin: 0 auto;
      font-size: 38px;
      font-weight: 700;
      color: #1f1f1f;
      margin-bottom: 42px;
    }
    .menu-slide {
      display: flex;
      width: 100%;
      height: 300px;
      justify-content: space-between;
      align-items: center;
      .menu-slide-prev {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 15px;
        background: url("../images/prev_arrow.png") no-repeat;
        background-position: 0 0;
        font-size: 0;
        cursor: pointer;
        border: 0;
        
      }
      .menu-slide-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
        padding: 0 20px;
        .menu-box {
          position: relative;
          .menu-slide-img {
            width: 242px;
            height: 242px;
            margin-bottom: 18px;
            cursor: pointer;
          }
          .menu-slide-txt {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 43px;
            border-radius: 21px;
            color: #1f1f1f;
            font-size: 16px;
            background-color: #f9f9f9;
            margin-top: 12px;
            cursor: pointer;
          }
        }
      }
      .menu-slide-next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 15px;
        background: url("../images/next_arrow.png") no-repeat;
        background-position: 0 0;
        font-size: 0;
        cursor: pointer;
        border: 0;
      }
    }
  }
}
