.menu {
  .inner {
    .menu-title {
      position: relative;
      display: block;
      text-align: center;
      line-height: 1.45;
      font-size: 38px;
      font-weight: 700;
      color: #1f1f1f;
    }
    .menu-slide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu-slide-prev {
      }
      .menu-slide {
      }
      .menu-slide-next {
      }
    }
  }
}
