.report {
  padding: 70px 25px;
}
.report-inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 3rem;

  .report-header {
    font-family: "Binggrae-Bold", sans-serif;
    font-size: 38px;
    text-align: center;
  }

  .report-box {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    .btn {
      border-radius: 20px;
      background: red;
      border: 0;
      padding: 10px 2rem;
      margin-top: 2rem;
      span {
        font-size: 1rem;
        color: white;
        letter-spacing: -0.09em;
      }
    }
    .box-left,
    .box-right {
      width: 48.5%;
      padding: 0 25px;
      p {
        margin-top: 5rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .report-header {
    font-size: 22px !important;
  }
  .report-box {
    flex-wrap: wrap;
  }
  .box-left,
  .box-right {
    width: 100% !important;
  }
  .box-left {
    margin-bottom: 10px;
  }
  @at-root .btn {
    span {
      font-size: 12px;
    }
  }
}