.visual {
  .inner {
    width: 1600px;
    .logo-box {
      margin: 0 auto;
      a {
        display: block;
        text-align: center;
        margin-bottom: 45px;
      }
    }
    .search-box {
      display: block;
      text-align: center;
    }
    .search-box-txt{
        text-align: center;
    .search-enter{

    }

    }
    .search-box-txt{

    }
    @at-root .keyword{

    }
  }
}
