@charset "UTF-8";
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #000;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* 레이아웃 */

.wrap {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  position: relative;
}

.submenu {
  z-index: 100;
  position: absolute;
  right: 5px;
  bottom: 6%;
  width: 100px;
}
.submenu .shop,
.submenu .upper {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.submenu .shop {
  background-color: whitesmoke;
  border: 0;
}
.submenu .upper {
  background-color: black;
}

.box {
  width: 550px;
  height: 230px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.15);
  background-color: #f9f9f9;
  text-align: center;

}

/* 상단 */
/* 비주얼 */
/* 브랜드 */
.brand .brand-inner .brand-title {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 38px;
  color: #000;
  text-align: center;
  line-height: 1.45;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.brand .brand-inner .brand-cate {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
}
.brand .brand-inner .brand-cate .brand-slide-prev span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 15px;
  background: url("../images/prev_arrow.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
  cursor: pointer;
}
.brand .brand-inner .brand-cate .brand-slide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1550px;
  display: flex;
  justify-content: space-between;
}
.brand .brand-inner .brand-cate .brand-slide > a .brand-slide-img {
  display: block;
  width: 240px;
  height: 250px;
  background: url("../images/m_sec02_logo01.png") no-repeat;
  background-position: center;
  border: 1px solid #edecef;
  border-radius: 30px;
}
.brand .brand-inner .brand-cate .brand-slide-next span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 15px;
  background: url("../images/next_arrow.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
  cursor: pointer;
}

/* 고객문의 */
.faq .inner .faq-title {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 38px;
  color: #000;
  text-align: center;
  line-height: 1.45;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.faq .inner .faq-wrap {
  width: 1300px;
  height: 850px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  margin: 0 auto;
}
.faq .inner .faq-wrap .faq-top {
  display: flex;
  justify-content: space-between;
}
/* 리포트 */
/* report 부분*/
.report-inner {
  width: 1600px;
  margin: auto;
  padding-bottom: 3rem;
}
.report-inner .report-header {
  text-align: center;
}
.report-inner .report-box {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 1150px;
}
.report-inner .report-box .btn {
  border-radius: 20px;
  background: red;
  border: 0;
  padding: 10px 2rem;
  margin-top: 2rem;
}
.report-inner .report-box .btn span {
  font-size: 1rem;
  color: white;
}
.report-inner .report-box .box-left p {
  margin-top: 5rem;
}
.report-inner .report-box .box-right p {
  margin-top: 5rem;
}

/* 하단 */
.footer-inner {
  background-color: black;
  opacity: 0.8;
  padding: 1rem;
}
.footer-inner .footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-inner .footer-top .f-info {
  padding-top: 1rem;
  padding-right: 1rem;
}
.footer-inner .footer-top .f-info .f-jungbo {
  margin-right: 20px;
}
.footer-inner .footer-top .f-info a {
  color: whitesmoke;
}
.footer-inner .footer-middle {
  margin: 1rem 0;
  margin-bottom: 3rem;
}
.footer-inner .footer-middle span {
  color: whitesmoke;
}
.footer-inner .footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-inner .footer-bottom .f-copyright {
  color: whitesmoke;
  opacity: 0.3;
  padding-top: 3rem;
}
.footer-inner .footer-bottom .f-buttons {
  display: inline-flex;
  gap: 0 3rem;
  margin-left: 500px;
}
.footer-inner .footer-bottom .f-buttons .insta,
.footer-inner .footer-bottom .f-buttons .youtube,
.footer-inner .footer-bottom .f-buttons .tft {
  background: rgb(116, 116, 101);
  padding: 1rem;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.footer-inner .footer-bottom .f-logo {
  position: relative;
  background: rgb(116, 116, 101);
  border-radius: 30px;
  padding: 5px 1.5rem;
  color: whitesmoke;
  margin-right: 3rem;
}
.footer-inner .footer-bottom .f-logo .arrow {
  padding-left: 5rem;
}
.footer-inner .footer-bottom .f-logo span:nth-child(2) {
  font-size: 20px;
}