/** @format */

@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #000;
}
/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
/* 레이아웃 */
.wrap {
  // max-width: 1600px;
  width: 100%;
  margin: auto;
  position: relative;
}

.submenu {
  z-index: 100;
  position: absolute;
  right: 5px;
  bottom: 6%;
  width: 100px;
  .shop,
  .upper {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .shop {
    background-color: whitesmoke;
    border: 0;
  }
  .upper {
    background-color: black;
  }
}

.box {
  width: 550px;
  height: 230px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 15%);
  background-color: #f9f9f9;
  text-align: center;
}
/* section 레이아웃 공통 패딩 */
.wrap section {
  padding: 70px 0;
}
/* 상단 */
@import "header";
/* 비주얼 */
@import "visual";
/* 브랜드 */
@import "brand";
/* 고객문의 */
@import "faq";
/* 리포트 */
@import "report";

/* report 부분*/
.report-inner {
  width: 1600px;
  margin: auto;
  padding-bottom: 3rem;

  .report-header {
    text-align: center;
  }
  .report-box {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 1150px;
    .btn {
      border-radius: 20px;
      background: red;
      border: 0;
      padding: 10px 2rem;
      margin-top: 2rem;
      span {
        font-size: 1rem;
        color: white;
      }
    }

    .box-left {
      p {
        margin-top: 5rem;
      }
    }

    .box-right {
      p {
        margin-top: 5rem;
      }
    }
  }
}

/* 하단 */
@import "footer";

.footer-inner {
  background-color: black;
  opacity: 0.8;
  padding: 1rem;

  .footer-top {
    display: flex;
    justify-content: space-between;
    .f-info {
      padding-top: 1rem;
      padding-right: 1rem;
      .f-jungbo {
        margin-right: 20px;
      }
      a {
        color: whitesmoke;
      }
    }
  }

  .footer-middle {
    margin: 1rem 0;
    margin-bottom: 3rem;
    span {
      color: whitesmoke;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    .f-copyright {
      color: whitesmoke;
      opacity: 0.3;
      padding-top: 3rem;
    }
    .f-buttons {
      display: inline-flex;
      gap: 0 3rem;
      margin-left: 500px;

      .insta,
      .youtube,
      .tft {
        background: rgb(116, 116, 101);
        padding: 1rem;
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
    }

    .f-logo {
      position: relative;
      background: rgb(116, 116, 101);
      border-radius: 30px;
      padding: 5px 1.5rem;
      color: whitesmoke;
      margin-right: 3rem;
      .arrow {
        padding-left: 5rem;
      }
      span:nth-child(2) {
        font-size: 20px;
      }
    }
  }
}
