@charset "UTF-8";
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #000;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* 레이아웃 */
/* section 레이아웃 공통 패딩 */
.wrap > section {
  padding: 70px 0;
}

/* 상단 */
/* 비주얼 */
/* 브랜드 */
.brand .brand-inner .brand-title {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 38px;
  color: #000;
  text-align: center;
  line-height: 1.45;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.brand .brand-inner .brand-cate {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
}
.brand .brand-inner .brand-cate .brand-slide-prev span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 15px;
  background: url("../images/prev_arrow.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
  cursor: pointer;
}
.brand .brand-inner .brand-cate .brand-slide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1550px;
  display: flex;
  justify-content: space-between;
}
.brand .brand-inner .brand-cate .brand-slide > a .brand-slide-img {
  display: block;
  width: 240px;
  height: 250px;
  background: url("../images/m_sec02_logo01.png") no-repeat;
  background-position: center;
  border: 1px solid #edecef;
  border-radius: 30px;
}
.brand .brand-inner .brand-cate .brand-slide-next span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 15px;
  background: url("../images/next_arrow.png") no-repeat;
  background-position: 0 0;
  font-size: 0;
  cursor: pointer;
}

/* 고객문의 */
.faq .inner .faq-title {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 38px;
  color: #1f1f1f;
  text-align: center;
  line-height: 1.45;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.faq .inner .faq-box {
  width: 1300px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  margin: 0 auto;
  padding: 60px 45px;
  display: flex;
  flex-wrap: wrap;
}
.faq .inner .faq-box .faq-consult {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.faq .inner .faq-box .faq-consult .faq-email {
  display: block;
  width: 590px;
  height: 325px;
  background: #eef8fa url("../images/m_sec04_backimg01.png") no-repeat;
  background-position: 0px 70px;
  padding: 55px 45px;
  border-radius: 30px;
  cursor: pointer;
}
.faq .inner .faq-box .faq-consult .faq-email h4 {
  font-size: 32px;
  font-weight: 700;
  color: #1f1f1f;
  padding-bottom: 30px;
}
.faq .inner .faq-box .faq-consult .faq-email p {
  line-height: 25px;
  padding-bottom: 70px;
  color: #1f1f1f;
}
.faq .inner .faq-box .faq-consult .faq-email button {
  width: 160px;
  height: 45px;
  background: #ed1c24;
  color: #fff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}
.faq .inner .faq-box .faq-consult .faq-phone {
  display: block;
  width: 590px;
  height: 325px;
  background: #fdf3f2 url("../images/m_sec04_backimg02.png") no-repeat;
  background-position: 0px 70px;
  padding: 55px 45px;
  border-radius: 30px;
}
.faq .inner .faq-box .faq-consult .faq-phone h4 {
  font-size: 32px;
  font-weight: 700;
  color: #1f1f1f;
  padding-bottom: 30px;
}
.faq .inner .faq-box .faq-consult .faq-phone p {
  font-size: 46.5px;
  font-weight: 700;
  color: #1f1f1f;
  padding-bottom: 25px;
}
.faq .inner .faq-box .faq-consult .faq-phone span {
  color: #1f1f1f;
}
.faq .inner .faq-box .faq-consult .faq-phone span span {
  color: #e0462e;
  margin-left: 25px;
}
.faq .inner .faq-box .faq-more {
  width: 1220px;
  height: 120px;
  padding-top: 47px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;
}
.faq .inner .faq-box .faq-more h3 {
  font-size: 23px;
  font-weight: 700;
  color: #1f1f1f;
  line-height: 45px;
}
.faq .inner .faq-box .faq-more button {
  width: 160px;
  height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #1f1f1f;
  background: transparent;
  border: 1px solid rgba(224, 223, 226, 0.6);
  border-radius: 30px;
  cursor: pointer;
}
.faq .inner .faq-box .faq-list {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.faq .inner .faq-box .faq-list li {
  width: 590px;
  height: 80px;
  background: #f9f9f9;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
}
.faq .inner .faq-box .faq-list li:nth-child(5) {
  margin-bottom: 0px;
}
.faq .inner .faq-box .faq-list li:nth-child(6) {
  margin-bottom: 0px;
}
.faq .inner .faq-box .faq-list li > a {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #1f1f1f;
  line-height: 40px;
}

/* 리포트 */
.report-inner {
  width: 1600px;
  margin: auto;
}
.report-inner .report-header {
  text-align: center;
}
.report-inner .report-box {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.report-inner .report-box .article {
  flex: 1;
  gap: 1rem;
  background: red;
  width: 635px;
  height: 230px;
}

/* 하단 */