/** @format */

@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  color: #000;
}
/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
/* 레이아웃 */
.wrap {
}
/* section 레이아웃 공통 패딩 */
.wrap > section {
  padding: 70px 0;
}
/* 상단 */
@import 'header';
/* 비주얼 */
@import 'visual';
/* 브랜드 */
@import 'brand';
/* 고객문의 */
@import 'faq';
/* 리포트 */
@import 'report';

.report-inner {
  width: 1600px;
  margin: auto;

  .report-header {
    text-align: center;
  }
  .report-box {
    margin:auto;
    display: flex;
    justify-content: space-between;
    .article {
      flex: 1;
      gap: 1rem;
      background: red;
      width:635px;
      height:230px;
    }
  }
}

/* 하단 */
@import 'footer';
