/** @format */

@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  color: #000;
}
/* 공통요소 */

.inner {
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* 레이아웃 */
.wrap {
  width: 100%;
  margin: auto;
  position: relative;
}

.submenu {
  z-index:9999;
  position:sticky;
  width: 100px;
  top:85%;
  left:95%;
  .shop,
  .upper {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .shop {
    background-color: whitesmoke;
    border: 0;
  }
  .upper {
    background-color: black;
  }
}

.box {
  width: 550px;
  height: 230px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 15%);
  background-color: #f9f9f9;
  text-align: center;
}

.red::after{
  content:'';
  position:absolute;
  display:inline-block;
  width:5px;
  height:5px;
  border-radius: 50%;
  background:red;
  visibility: hidden;
}
/* 상단 */
@import 'header';



.header {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  z-index: 500;


  .header-top {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;

    .header-top-menu {
      padding-right:3rem;
      span:first-child {
        margin-right: 1.5rem;
      }
      .portalsys::after {
        content: '';
        display: inline-block;
        width: 1.5px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 90px;
        top: 4px;
      }
    }
  }

  .header-middle {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    .menu-logo {
      display: inline-block;
      padding-left:3rem;
    }
    

    .nav {
      &:hover + .header-bg{
        top:0%;
        transition:all 1s;
        
      }

      .gnb {
        display: inline-flex;
        justify-content: space-between;
        gap: 0 5rem;
        vertical-align: middle;
        margin-right:4rem;
        &:hover .depth{
          opacity:1;
          transition:all 3s;
        }
        &:hover .header-bg{
          display:block;
        }
        > li {
          padding-bottom:1rem;
          position:relative;
          > a {
            font-size: 1.5rem;
            &:hover{
              color:red;
            }
            &:hover::after{
            visibility: visible;
            }
          }
          .depth{
            opacity:0;
            position:absolute;
            margin-top: 4.5rem;
            > li{
              padding-top:15px;
              font-size: 1.2rem;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .header-bg {
      z-index:-10;
      position: absolute;
      top:-550px;
      left:0%;
      width: 100%;
      height:550px;
      border-radius: 0 0 100px 100px;
      background-color: whitesmoke;
    }

    .lang {
      padding-right:3rem;
      > a{
        font-weight: 700;
        vertical-align:middle;
        position:relative;
      }
      .krbutton{
        border-radius:20%;
        background-color: whitesmoke;
        position:absolute;
        display:flex;
        flex-direction: column;
        right:4%;
        span{
          font-size:1.2rem;
          padding:8px 14px;
          font-weight:700;
        }
      }
      > img{
        margin-right:2rem;
        vertical-align:middle;
      }
      > span{
        font-size:2rem;
        vertical-align: middle;
      }
    }
  }
}
/* 비주얼 */
@import 'visual';
/* 브랜드 */
@import 'brand';
/* 고객문의 */
@import 'faq';
/* 리포트 */
@import 'report';

/* report 부분*/
.report-inner {
  width: 1600px;
  margin: auto;
  padding-bottom: 3rem;

  .report-header {
    text-align: center;
  }

  .report-box {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 1150px;
    .btn {
      border-radius: 20px;
      background: red;
      border: 0;
      padding: 10px 2rem;
      margin-top: 2rem;
      span {
        font-size: 1rem;
        color: white;
      }
    }

    .box-left {
      p {
        margin-top: 5rem;
      }
    }

    .box-right {
      p {
        margin-top: 5rem;
      }
    }
  }
}

/* 하단 */
@import 'footer';

.footer-inner {
  background-color: black;
  opacity: 0.8;
  padding: 1rem;

  .footer-top {
    display: flex;
    justify-content: space-between;
    .f-info {
      padding-top: 1rem;
      padding-right: 1rem;
      .f-jungbo {
        margin-right: 20px;
      }
      a {
        color: whitesmoke;
      }
    }
  }

  .footer-middle {
    margin: 1rem 0;
    margin-bottom: 3rem;
    span {
      color: whitesmoke;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    .f-copyright {
      color: whitesmoke;
      opacity: 0.3;
      padding-top: 3rem;
    }
    .f-buttons {
      display: inline-flex;
      gap: 0 3rem;
      margin-left: 500px;

      .insta,
      .youtube,
      .tft {
        background: rgb(116, 116, 101);
        padding: 1rem;
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
    }

    .f-logo {
      position: relative;
      background: rgb(116, 116, 101);
      border-radius: 30px;
      padding: 5px 1.5rem;
      color: whitesmoke;
      margin-right: 3rem;
      .arrow {
        padding-left: 5rem;
      }
      span:nth-child(2) {
        font-size: 20px;
      }
    }
  }
}
