@charset "UTF-8";
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #000;
}

/* 공통요소 */
/* 레이아웃 */
/* 상단 */
/* 비주얼 */
.visual {
  position: relative;
  display: block;
  background: url("../images/pc_section01_3.jpg") no-repeat center;
  background-size: cover;
  padding: 180px 0;
}
.visual .inner {
  width: 1600px;
  margin: 0 auto;
}
.visual .inner .visual-box {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}
.visual .inner .search-box {
  display: block;
  width: 1020px;
  margin: 0 auto;
}
.visual .inner .search-box form {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  margin: 40px auto 0;
}
.visual .inner .search-box form .search-box-txt {
  position: relative;
  display: block;
  margin: 0 auto;
}
/* 브랜드 */
/* 고객문의 */
/* 리포트 */
.report-inner {
  width: 1600px;
  margin: auto;
}
.report-inner .report-header {
  text-align: center;
}
.report-inner .report-box {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.report-inner .report-box .article {
  flex: 1;
  gap: 1rem;
  background: red;
  width: 635px;
  height: 230px;
}

/* 하단 */