/* @format */

@charset 'utf-8';

@import "font";
@import "mixin";
  


@font-face {
  font-family: 'Binggrae-Two';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  color: #000;
}
/* 공통요소 */

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* 레이아웃 */
.wrap {
  width: 100%;
  position: relative;
  margin: auto;
}

.submenu {
  z-index: 9999;
  position: fixed;
  right: 5%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  gap:10px;
  .chatText{
    position:absolute;
    top:25px;
    left:-200px;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    background-color: white;
    padding:1rem;
    font-weight: 700;
    display: none;
  }
  .chat{
    &:hover + .chatText{
      display:block;
    }
  }

  .chat > .chatImg {
    animation: motion 0.5s linear 0s infinite alternate;
    margin-top: 0;
  }
  
  @keyframes motion {
    0% {
      padding-bottom: 0px;
    }
    100% {
      padding-bottom: 20px;
    }
  }
  .shop,
  .upper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .shop {
    background-color: whitesmoke;
    border: 0;
  }
  .upper {
    background-color: black;
  }
}

.box {
  width: 550px;
  height: 230px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 15%);
  background-color: #f9f9f9;
  text-align: center;
}

.red::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  visibility: hidden;
}

/* 상단 */
@import 'header';
/* 비주얼 */
@import 'visual';
/* 메뉴 */
@import 'menu';
/* 브랜드 */
@import 'brand';
/* 고객문의 */
@import 'faq';
/* 리포트 */
@import 'report';

/* 하단 */
@import 'footer';

//Desktop
@media all and (max-width: 1280px) {
  .header-inner {
    .header-middle {
      .nav {
        .gnb {
          justify-content: flex-start;
          gap: 0 1rem;
        }
      }
      .menu-logo {
        padding-left: 0;
      }
      .lang {
        padding-right: 0;
      }
    }
  }
}

//Tablet
@media all and (max-width: 1024px) {
  .header-top-menu {
    display: none;
  }

  .header-middle {
    .nav {
      display: none;
    }
    .lang {
      padding-right: 0rem;
      .krbutton span {
        display: none;
      }
    }
  }

  .footer-bottom {
    padding-bottom: 3rem;
  }
}

//Mobile
@media all and (max-width: 767px) {
  .header {
    .header-top {
      padding: 0;
    }
    .header-middle {
      margin: 1rem 0;
    }
  }

  .footer-top {
    flex-direction: column;
    .f-logo {
      order: 2;
      text-align: center;
      margin-top: 3rem;
    }
    .f-info {
      order: 1;
      text-align: center;
    }
  }

  .footer-middle {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    .f-copyright {
      position: absolute;
      right: 0%;
      bottom: 0%;
      font-size: 10px;
      margin: 10px;
    }
    .f-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .f-buttons {
        margin-bottom: 10px;
      }
    }
  }
  .f-add {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0%;
    margin: 1rem;
    a {
      font-size: 10px;
      color: white;
    }
  }
} ;
